// Fonts
$font-file-path: "../fonts/";
$part-font-file-name: "opensans";
$font-face-family: "Open Sans";
$font-face-family-join: "OpenSans";
$font-face-family-fontello: "fontello";

// Img
$img-folder-path: "../img/";

// Colors
$pink-strong:#d22856;
$blue-very-dark:#283645;
$blue-mostly-black:#1d2631;
$white:#ffffff;
$black:#000000;
$grey-very-light:#f2f2f2;
$grey-light:#e5e5e5;
$lime-green:#2aab6d;

// Breakpoints
$screen-phone:320px;
$container-phone:300px;
$screen-tablet:660px;
$container-tablet:640px;
$screen-desktop:960px;
$container-desktop:940px;
