// Fonts
$font-file-path: "../fonts/";
$part-font-file-name: "opensans";
$font-face-family: "Open Sans";
$font-face-family-join: "OpenSans";

// Img
$img-folder-path: "../img/";

// Colors
$color__pink--strong:#d22856;
$color__blue--very-dark:#283645;
$color__white:#ffffff;
$color__grey--very-light:#f2f2f2;
$color__grey--light:#e5e5e5;
