@import "../mixins/container";
@import "../mixins/clearfix";
@import "../mixins/background-image";

.apps-os {
  max-width: 230px;
  min-height: 42px;
  margin: 0 auto;
  padding: 0 38px;
  padding-top: 30px;
  padding-bottom: 23px;

  font-size: 0;

  &__item {
    display: inline-block;
    margin-right: 36px;

    vertical-align: bottom;

    background: #1d2631 no-repeat 0 0;

    @include background-image("sprite.png");
  }

  &__item:nth-child(3n) {
    margin-right: 0;
  }

  &__item--apple {
    width: 46px;
    height: 57px;

    background-position: -5px -62px;
  }

  &__item--android {
    width: 42px;
    height: 47px;
    padding-bottom: 1px;

    background-position: -5px -5px;
  }

  &__item--microsoft {
    width: 44px;
    height: 42px;
    padding-bottom: 3px;

    background-position: -5px -129px;
  }
}
