@import "../style";

.contacts-block {
  padding-top: 44px;
  padding-bottom: 5px;

  text-align: center;

  &__title {
    @include font-family-general($font-face-family);

    position: relative;

    max-width: 230px;
    min-height: 48px;
    margin: 0 auto;
    padding-bottom: 37px;

    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: $blue-very-dark;
  }
}
