@import "../variables";
@import "../mixins";

.control-checkbox {
  padding: 20px 0;
  padding-bottom: 32px;
  padding-left: 10px;

  &__label {
    @include font-family-general($font-face-family);

    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $color__blue--very-dark;
  }

  input + &__label {
    cursor: pointer;
  }

  input:not(checked) {
    position: absolute;

    opacity: 0;
  }

  input:not(checked) + &__label {
    position: relative;

    padding: 0 0 0 60px;
  }

  input:not(checked) + &__label:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;

    width: 35px;
    height: 35px;

    background-color: $color__white;
    border: 2px solid $color__grey--light;
  }

  input:checked + &__label:after {
    content: "";
    position: absolute;
    top: -3px;
    left: 15px;

    display: block;
    width: 8px;
    height: 20px;

    background-color: $color__white;
    border-top: 0 solid transparent;
    border-right: 2px solid $color__pink--strong;
    border-bottom: 2px solid $color__pink--strong;
    border-left: 0 solid transparent;
    transform: rotate(45deg);

    transition: all 0.2s;
  }

  input:checked + &__label:before {
    background: $color__white;
  }
}
