.gallery-item {
  position: relative;

  display: inline-block;
  width: 67px;
  min-height: 67px;
  margin-right: 29px;
  margin-bottom: 4px;
  margin-left: 10px;
  padding-top: 17px;

  vertical-align: top;

  &:nth-child(3n) {
    margin-right: 0;
  }
  &__text {
    @include font-family-general($font-face-family);

    display: inline-block;
    padding-top: 8px;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    vertical-align: bottom;
    color: $blue-very-dark;
    text-transform: uppercase;
  }

  &__cross-btn {
    position: absolute;
    top: 0;
    right: -17px;

    width: 32px;
    height: 32px;

    font-size: 0;

    background-color: $white;
    background-position: 50% 50%;
    border: 2px solid $grey-light;
    border-radius: 50%;
  }

  &__cross-btn::before,
  &__cross-btn:after {
    content: "";
    position: absolute;
    top: 14px;
    right: 7px;

    width: 15px;
    height: 2px;

    background-color: #333333;
    opacity: 0.3;
  }

  &__cross-btn::before {
    transform: rotate(45deg);
  }

  &__cross-btn::after {
    transform: rotate(-45deg);
  }
}
