@import "../style";

.logo {
  width: 100%;
  padding: 10px 0;


  &__link {
    display: block;
    height: 40px;

    font-size: 0;
    text-align: center;
  }

  &__img {
    display: inline-block;
    margin: 0 auto;
    padding: 0;

    font-size: 0;
    vertical-align: bottom;
  }

  &__img--glass {
    padding-right: 10px;
  }
}
