.logo {
  width: 100%;
  padding: 10px 0;

  &__link {
    display: block;
    //height: 40px;
    width: 147px;
    //font-size: 0;
    //text-align: center;
    margin: 0 auto;
  }

  &--header &__link {
    width: 74px;
    margin: 0;
    padding-left: 10px;
  }

  //&__img{
  //}
  //
  //&--header &__img{
  //  //display: inline-block;
  //  width: 74px;
  //  //margin: 0 auto;
  //  padding: 0;
  //
  //  //font-size: 0;
  //  vertical-align: bottom;
  //}



  //
  //&--header &__img {
  //  display: inline-block;
  //  float: left;
  //  padding-left: 10px;
  //
  //  vertical-align: top;
  //}
  //
  //&__img--glass {
  //  padding-right: 10px;
  //  width: 74px;
  //}
}

//@media (min-width: $screen-phone) {
//  .logo {
//    &--header &__link {
//      //height: 0;
//    }
//
//    &--header &__img--glass {
//      @include hidden;
//    }
//  }
//}
//
@media (min-width: $screen-tablet) {
  .logo {
    //padding-left: 12px;

    &__link,
    &--header &__link {
      display: block;
      width: 147px;
      margin: 0;
    }

    //&__img{
    //  width: 146px;
    //}
    //
    //&--header {
    //  padding-top: 13px;
    //  padding-left: 0;
    //}
    //
    //&--header &__img--glass {
    //  display: inline-block;
    //  padding-right: 2px;
    //  width: 145px;
    //}
    //
    //&--header &__link {
    //  height: 0;
    //}
    //
    //&--header &__img--pink {
    //  padding-top: 17px;
    //}
    //
    &--flex-block {
      display: flex;
      align-items: center;
      width: 30%;
    }
  }
}
//
@media (min-width: $screen-desktop) {
  .logo {
    &__link,
    &--header &__link {
      display: block;
      width: 147px;
      margin: 0;
    }
  }
}
