.main-nav {
  position: absolute;

  min-height: 250px;

  background-color: $blue-very-dark;

  &__list {
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    @include font-family-general($font-face-family);

    margin-bottom: 1px;

    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: $white;
    text-transform: uppercase;

    background-color: $blue-very-dark;
    box-shadow: 0 1px 0 $black,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
  }

  &__item:first-child {
    border-top: 1px $black solid;
  }

  &__link {
    display: block;
    padding: 15px 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    vertical-align: bottom;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media (min-width: $screen-phone) {
  .main-nav {
    width: $screen-phone;
  }
}

@media (min-width: $screen-tablet) {
  .main-nav {
    width: $screen-tablet;
  }
}

@media(min-width: $screen-phone) and (max-width: $screen-desktop - 1) {
  .main-nav {
    &__item {
      width: 100%;
    }

    &__link:hover {
      color: $pink-strong;
    }

    &__link:active {
      color: $pink-strong;

      opacity: 0.3;
    }
  }
}

@media (min-width: $screen-desktop) {
  .main-nav {
    position: relative;

    min-height: 18px;

    background-color: transparent;

    &__list {
      justify-content: flex-end;
    }

    &__item {
      margin: 0 34px;

      background-color: transparent;
      border: none;
      box-shadow: none;
    }

    &__item:last-child {
      margin-right: 0;
    }

    &__item:first-child {
      border-top: 0;
    }

    &__link {
      @include font-family-general($font-face-family);

      position: relative;

      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      color: $white;
      text-transform: none;

      &:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: $white;
      }

      &:active {
        opacity: 0.3;

        &::after {
          display: none;
        }
      }
    }
  }
}
