.page-footer {
  width: 100%;
  min-height: 260px;

  &__container {
    @include container;
  }
}

@media (min-width: $screen-phone) {
  .page-footer {
    &--index {
      display: none;
    }
  }
}

@media (min-width: $screen-tablet) {
  .page-footer {
    display: block;
    min-height: 127px;

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 91px;
      padding-bottom: 73px;
    }

    &--index &__container {
      padding-top: 62px;
    }
  }
}
