@import "../variables";
@import "../mixins";

.page-price {
  position: relative;

  width: 100%;
  min-height: 372px;
  padding-top: 100px;
  padding-bottom: 19px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -233%;
    left: -50%;
    z-index: -1;

    width: 200%;
    height: 479%;

    background-image: linear-gradient(to bottom, #ffffff, #ffffff 50%, #f2f2f2 50%);
    background-repeat: no-repeat;
    transform: rotate(-5deg);
  }

  &__container {
    @include container;

    width: 320px;
    min-height: 250px;
    overflow: hidden;
  }
}
