@import "../mixins/container";
@import "../mixins/clearfix";
@import "../mixins/font-family-general";

.page-apps {
  width: 100%;
  min-height: 240px;
  padding-top: 8px;

  background-color: #1d2631;

  &__container {
    min-height: 240px;

    @include container;
  }
}
