.page-promo {
  position: relative;

  width: 100%;
  min-height: 900px;
  overflow: hidden;
}

@media (min-width: $screen-tablet) {
  .page-promo {
    min-height: 725px;

    &__container {
      min-height: 725px;
    }
  }
}
