.page-apps {
  width: 100%;
  min-height: 240px;
  padding-top: 8px;

  &__container {
    @include container;

    min-height: 240px;
  }
}

@media (min-width: $screen-tablet) {
  .page-apps {
    width: 50%;
  }
}


@media (min-width: $screen-desktop) {
  .page-apps {
    width: 32%;
  }
}
