.page-price {
  position: relative;

  width: 100%;
  min-height: 372px;
  padding-top: 100px;
  padding-bottom: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 5vh;
    left: -50vw;
    z-index: -1;

    width: 150vw;
    height: 105vh;

    background-color: $grey-very-light;
    transform: skewY(-6deg);
  }

  &__container {
    background-color: $grey-very-light;
  }
}

@media (min-width: $screen-tablet) {
  .page-price {
    min-height: 250px;
    padding-top: 108px;
    padding-bottom: 38px;

    &::before {
      top: 7vh;

      transform: skewY(-4deg);
    }
  }
}
