.page-review {
  width: 100%;
  min-height: 290px;
  padding-top: 36px;

  &__container {
    @include container;
  }
}

@media (min-width: $screen-tablet) {
  .page-review {
    min-height: 150px;
    padding-top: 17px;
  }
}
