@import "../mixins/background-image";
@import "../mixins/container";

.page-address-footer {
  position: relative;

  width: 100%;
  min-height: 470px;
  padding: 0;
  padding-top: 18px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 0;

  @include background-image("bg-footer-map.png");

  &__container {
    @include container;
  }

  &__container {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;

    min-height: 270px;
    margin-left: -160px;

    background-color: #ffffff;
  }
}
