@import "../style";

.popup {
  @include container;

  margin-bottom: 21px;

  text-align: center;

  &__title {
    @include font-family-general($font-face-family);

    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 15px;

    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $black;
  }

  &__text {
    @include font-family-general($font-face-family);

    margin: 0;
    padding: 10px 15px;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $blue-very-dark;
  }

  &__text--failure {
    padding: 10px;
  }
}
