.registration-form {
  width: 100%;
  min-height: 895px;

  background-color: $white;

  &__wrap {
    min-height: 75px;

    text-align: center;
  }

  &__wrap--intro {
    background-color: $white;
  }

  &__wrap--apps,
  &__wrap--travelers,
  &__wrap--traveler,
  &__wrap--calc {
    background-color: $grey-very-light;
  }

  &__wrap--travel {
    background-color: $white;
  }

  &__wrap--white {
    background-color: $white;
  }

  &__wrap--grey {
    background-color: $grey-very-light;
  }

  &__intro {
    @include container;
  }

  &__text {
    @include font-family-general($font-face-family);

    margin: 0;
    padding: 0 10px;
    padding-top: 45px;

    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: $blue-very-dark;
  }

  &__name,
  &__apps,
  &__travel,
  &__travelers,
  &__achievements,
  &__photos,
  &__footnote {
    @include container;

    border: 0;
  }

  &__title {
    @include font-family-general($font-face-family);

    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: $pink-strong;
    text-transform: uppercase;
  }

  &__title--small-line {
    line-height: 18px;
  }

  &__name {
    min-height: 345px;
    padding: 0;
    padding-top: 34px;
    padding-bottom: 27px;
  }

  &__apps {
    min-height: 338px;

    text-align: left;
  }

  &__apps > &__title {
    padding-top: 36px;
    padding-bottom: 20px;

    text-align: center;
  }

  &__travel {
    min-height: 440px;
    padding-bottom: 45px;
  }

  &__travel > &__title {
    padding-top: 43px;
    padding-bottom: 35px;

    text-align: center;
  }

  &__travelers {
    min-height: 149px;
    padding-bottom: 29px;
  }

  &__travelers > &__title {
    padding-top: 30px;
    padding-bottom: 14px;

    text-align: center;
  }

  &__wrap--calc{
    margin-bottom: 29px;
  }

  &__wrap--traveler-item:nth-of-type(2) .traveler-item__flex-wrap{
    border-top: 2px solid $grey-light;
    padding-top: 29px;
  }

  &__wrap--traveler-item:nth-last-of-type(1){
  }

  &__achievements {
    min-height: 338px;
    padding-bottom: 18px;

    text-align: left;
  }

  &__achievements > &__title {
    padding-top: 46px;
    padding-bottom: 24px;

    text-align: center;
  }

  &__photos {
    position: relative;

    min-height: 338px;
    padding-bottom: 20px;

    text-align: center;
  }

  &__photos > &__title {
    padding-top: 30px;
    padding-bottom: 28px;

    text-align: center;
  }

  &__footnote {
    @include font-family-general($font-face-family);

    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: $blue-very-dark;
    text-transform: uppercase;
  }

  &__asterisk {
    color: $pink-strong;
    font-style: normal;
  }
}

@media (min-width: $screen-phone) {
  .registration-form {
    &__intro span {
      @include hidden;
    }
  }
}

@media (min-width: $screen-tablet) {
  .registration-form {
    &__wrap--apps,
    &__wrap--travelers,
    &__wrap--calc,
    &__wrap--traveler {
      background-color: $white;
    }

    &__intro {
      padding-top: 93px;
    }

    &__intro span {
      display: block;
    }

    &__text {
      @include font-family-general($font-face-family);

      padding: 0 40px;

      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: $blue-very-dark;
    }

    &__name {
      padding-bottom: 20px;
    }

    &__apps {
      width: 596px;
      min-height: 105px;

      border: 2px solid #e5e5e5;
    }

    &__apps &__title {
      padding-top: 21px;
      padding-right: 20px;
      padding-left: 20px;
    }

    &__travel {
      box-sizing: border-box;
      width: 616px;
      min-height: 105px;
      margin-top: 19px;
      padding-bottom: 10px;

      border: 2px solid #e5e5e5;
    }

    &__travel &__title {
      padding-top: 33px;
      padding-right: 20px;
      padding-left: 20px;
    }

    &__flex-block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: -7px;
      padding-left: 38px;
    }

    &__travel-flex {
      margin-bottom: 13px;
    }

    &__travel-flex .control-text__input {
      width: 240px;
      margin-bottom: 13px;
    }

    &__travelers {
      box-sizing: border-box;
      width: 616px;
      min-height: 105px;
      margin-top: 19px;
      padding-bottom: 10px;

      border: 2px solid #e5e5e5;
    }

    &__travelers &__title {
      padding-top: 33px;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}
