@import "../mixins";
@import "../variables";

.social-links {
  margin: 29px 0;
  margin-left: 55px;
  margin-bottom: 37px;

  font-size: 0;

  &__item {
    position: relative;

    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0 6px;

    vertical-align: middle;
    text-decoration: none;

    background-color: #fefefe;
    background-repeat: no-repeat;
    border: 3px solid rgba(40, 54, 69, 0.1);
    border-radius: 50%;
  }

  .icon-twitter,
  .icon-facebook,
  .icon-play {
    position: absolute;
    top: 9px;
    left: 9px;

    font-size: 21px;
    color: $pink-strong;
  }
}
