@import "../mixins";
@import "../variables";

.travels-photo-gallery {
  width: 100%;
  padding: 0;
  padding-top: 53px;

  font-size: 0;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    top: 214px;
    left: 11px;

    width: 280px;
    height: 2px;
    margin-top: -31px;
    margin-left: 10px;

    background-color: $grey-light;
  }
}
