@import "../style";

.traveler-item {
  @include container;
  @include clearfix;

  padding-top: 21px;

  border: 0;

  &--first {
    padding-top: 32px;
  }

  &--first::before {
    content: "";
    position: absolute;
    top: auto;
    left: auto;

    width: 280px;
    height: 2px;
    margin-top: -31px;
    margin-left: 10px;

    background-color: $grey-light;
  }

  &--last {
    padding-bottom: 31px;
  }
}
