@import "../variables";

@mixin fontello-styles() {
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;

    font-weight: normal;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    font-family: $font-face-family-fontello;
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

  .icon-cancel-circled2:before {
    content: "\e800";
  } /* '' */
  .icon-cancel:before {
    content: "\e801";
  } /* '' */
  .icon-menu:before {
    content: "\e802";
  } /* '' */
  .icon-twitter:before {
    content: "\e803";
  } /* '' */
  .icon-facebook:before {
    content: "\e804";
  } /* '' */
  .icon-play:before {
    content: "\e805";
  } /* '' */
  .icon-circle-empty:before {
    content: "\e806";
  } /* '' */
  .icon-dot-circled:before {
    content: "\e807";
  } /* '' */
  .icon-ok:before {
    content: "\e808";
  } /* '' */
  .icon-check-empty:before {
    content: "\e809";
  } /* '' */
  .icon-plus:before {
    content: "\e80a";
  } /* '' */
  .icon-minus:before {
    content: "\e80b";
  } /* '' */
  .icon-ok-1:before {
    content: "\e80c";
  } /* '' */
  .icon-cancel-1:before {
    content: "\e80d";
  } /* '' */
  .icon-pin:before {
    content: "\e80e";
  } /* '' */
}
