@mixin slider-controls--unchecked() {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 6px;

  vertical-align: middle;

  background-color: $blue-very-dark;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.3;

  transition: background-color 0.2s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  @media (min-width: $screen-tablet) {
    margin: 0 7px;
  }
}
