.page-price {
  @include background-image("triangle-grey.svg");

  width: 100%;
  min-height: 372px;
  padding-top: 101px;
  padding-bottom: 18px;

  background-repeat: no-repeat;
  background-position: 95% 100%;
  background-size: cover;

  &__container {
    background-color: $grey-very-light;
  }
}

@media (min-width: $screen-tablet) {
  .page-price {
    min-height: 250px;
    padding-top: 108px;
    padding-bottom: 38px;

    background-position: 91% 100%;
  }
}

@media (min-width: $screen-desktop) {
  .page-price {
    min-height: 250px;
    margin-top: 35px;
    padding-top: 108px;
    padding-bottom: 95px;

    background-position: 98% 100%;
  }
}
